
body {
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
}


img {
    max-width: 200px;
}

.img-cropped {
    width: 110px;
    height: 50px;
}

.card {
      min-width: 220px;
      padding: 20px 10px;
      margin: 10px 10px;
      font-size: large;
      border-style: solid black ;
      border-width: 3px;
      max-width: 220px;
    }

.encabezado{
    padding: 5px;
    margin-left: 40px;

}    



